
# Xcode
DerivedData/
build/
*.xcuserstate
*.xcworkspace
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcuserdata/
*.xcscmblueprint
*.xcbkptlist

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# macOS
.DS_Store

# Git
*.orig

# Logs and temp files
*.log
*.tmp
